@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
