@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  img {
    width: 100%;
  }

  .nav__list {
    gap: 65px;
  }

  .nav__btns {
    gap: 10px;
  }

  .about__inner {
    max-width: 555px;
    width: 100%;
  }

  .collection__inner {
    flex-direction: column;
    align-items: center;
  }

  .collection__inner_pic {
    order: -1;
  }

  .collection__inner_desc {
    align-items: center;
  }

  .collection__inner_desc_title,
  .collection__inner_desc_text {
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .nav__logo img {
    width: 91px;
    height: 19px;
  }

  /* .nav__list {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 0;
  }

  .nav__list li:nth-child(3) {
    grid-column: 1 / 3;
    text-align: center;
  } */

  .nav__list {
    gap: 55px;
  }

  .nav__list__item {
    font-size: 18px;
  }

  .nav__btns {
    flex-direction: column;
    gap: 0;
  }

  .header__hero {
    height: 660px;
  }

  .hero__box {
    gap: 50px;
  }

  .hero__title {
    font-size: 75px;
  }

  .hero__btn {
    width: 150px;
    height: 60px;
    font-size: 18px;
  }

  .main {
    padding: 70px 0;
    row-gap: 70px;
  }

  .about__inner_text {
    line-height: 150%;
  }
}

@media (max-width: 576px) {
  body {
    padding-top: 70px;
  }

  .header__nav {
    padding: 20px 0;
  }

  .nav__box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .nav__list {
    height: 30px;
  }

  .nav__btns {
    flex-direction: row;
    gap: 25px;
  }

  .header__hero {
    height: 505px;
  }

  .hero__box {
    gap: 30px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__btn {
    width: 115px;
    height: 50px;
    font-size: 14px;
  }

  .main {
    padding: 40px 0;
    row-gap: 40px;
  }

  .title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .text {
    font-size: 15px;
  }

  .space {
    margin-bottom: 40px;
  }

  .collection__inner_desc_title {
    font-size: 20px;
  }

  .collection__inner_desc_title,
  .collection__inner_desc_text {
    text-align: center;
    margin-bottom: 20px;
  }

  .collection__inner_desc_btn {
    font-size: 14px;
    width: 120px;
    height: 50px;
  }
}

@media (max-width: 390px) {
}
